<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
        text-align: center;
        color: #EFDD30;
        }
        body{
        background-color: #1900A8;
        }
        footer {
        padding: 24px;
        text-align: center;
        }
        footer a {
        margin: 0 8px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        }
    </style>
</head>
<body>
    <h1>CONTACT</h1>
    <p style="color: white; text-align: center;">Email: your@email.com<br>
GitHub: https://github.com/yourname</p>
<footer>
    <a href="{% url 'home_page' %}">home</a>
</footer>
</body>
</html>
